body {
    margin: 5%;
  }

  .lrg-heading {
    font-size: 48px;
  }

  .description {
    font-size: 24px;
    color: gray;
  }

  .table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    background-color: transparent;
}

footer{

  padding: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;

}

header{
    padding: 20px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

hr {

  margin-bottom: 3rem;
  color: grey;

}

.error-container {
    display: table;
    width: 100%;
    height: 50vh;
    text-align: center;
}

.error-message {
	  display: table-cell;
	  vertical-align: middle;
}
