body {
    margin: 5%;
  }

  .lrg-heading {
    font-size: 48px;
  }

  .description {
    font-size: 24px;
    color: gray;
  }

  .table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    background-color: transparent;
}

footer{

  padding: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;

}

header{
    padding: 20px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

hr {

  margin-bottom: 3rem;
  color: grey;

}

.text-container {
    display: table;
    width: 100%;
    text-align: center;
}

.text-message {
	  display: table-cell;
	  vertical-align: middle;
}

.about-text-message {
     vertical-align: middle;
     margin: 1em;
}

#github-repository-link{
   color: #DEF5F0;
}
