<!doctype html>
<html lang="en">
   <head>
      <!-- Meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>College Metrics</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
      <script src="{{ url_for('static', filename='dashboard-script.js') }}"></script>
   </head>
   <body>
      <nav id="title-dashboard" class="navbar navbar-expand-lg navbar-light bg-light center">
        <a class="navbar-brand" href="{{ url_for('dashboard') }}">Dashboard</a>
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
           <a class="nav-link" href="{{ url_for('about') }}">About <span class="sr-only">(current)</span></a>
         </li>
          <li class="nav-item active">
           <a class="nav-link"  href="https://github.com/jdboisvert/college-summary-dashboard">GitHub Repository <span class="sr-only">(current)</span></a>
         </li>
          <li class="nav-item active">
           <span class="navbar-text">
             Data was last updated at {{college_metrics.date}}
           </span>
          </li>
       </ul>
      </nav>

      <hr>
      <!-- First Row -->
      <div class="row align-items-center justify-content-center mb-5">
         <div class="col text-center">
            <p class="lrg-heading" id="totalCount">{{college_metrics.total_programs_offered}}</p>
            <p class="description">Pages about Programs</p>
         </div>
         <div class="col text-center">
            <p class="lrg-heading" id="programCount">{{college_metrics.number_of_programs}}</p>
            <p class="description">Programs</p>
         </div>
         <div class="col text-center">
            <p class="lrg-heading" id="profileCount">{{college_metrics.number_of_profiles}}</p>
            <p class="description">Profiles</p>
         </div>
      </div>
      <hr>
      <!-- Second Row -->
      <div class="row align-items-center justify-content-center mb-5">
         <div class="col text-center">
            <p class="lrg-heading" id="disciplineCount">{{college_metrics.number_of_disciplines}}</p>
            <p class="description">Disciplines</p>
         </div>
         <div class="col text-center">
            <p class="lrg-heading" id="specialCount">{{college_metrics.number_of_special_studies}}</p>
            <p class="description">Special Fields Of Studies</p>
         </div>
         <div class="col text-center">
            <p class="lrg-heading" id="generalEduCount">{{college_metrics.number_of_general_studies}}</p>
            <p class="description">General Education Fields</p>
         </div>
      </div>
      <hr>
      <!-- Third Row -->
      <div class="row align-items-center justify-content-center mb-5">
         <div class="col text-center">
            <p class="lrg-heading" id="studentCount">{{college_metrics.number_of_students}}</p>
            <p class="description">Students</p>
         </div>
         <div class="col text-center">
            <p class="lrg-heading" id="facultyCount">{{college_metrics.number_of_faculty}}</p>
            <p class="description">Faculty</p>
         </div>
         <div class="col text-center">
            <p class="lrg-heading" id="studentToFacultyRatio">{{college_metrics.number_of_students_per_faculty}} : 1</p>
            <p class="description">Students to Faculty Ratio</p>
         </div>
      </div>
      <hr>
      <!-- Fourth Row -->
      <div class="row mb-5">
         <div class="col text-center">
            <p class="description">How up to date are the program pages?</p>
            <canvas id="newestPrograms" data-counts='{{college_metrics.total_year_counts}}'></canvas>
         </div>
         <div class="col text-center">
            <p class="description">Most up to date programs</p>
            <table id="latestPrograms" class="table table-striped table-bordered table-sm">
               <thead>
                  <tr>
                     <th class="th-sm">Program Name</th>
                     <th class="th-sm">Type</th>
                     <th class="th-sm">Last Modified (DD/MM/YYYY)</th>
                     <th class="th-sm">Link</th>
                  </tr>
               </thead>
               <tbody id="tableBody">
                    {% for program in college_metrics.programs_sorted %}
                        <tr>
                            <td>{{program.name}}</td>
                            <td>{{program.type}}</td>
                            <td>{{program.modified_date}}</td>
                            <td><a href="{{program.url}}" target=\"blank\">More Info</a>
                        </tr>
                    {% endfor %}
               </tbody>
               <!-- Anchor used just for when page reloads to table when switching between tables-->
               <a id="latestProgram"></a>
            </table>
         </div>
      </div>
      </div>
      <footer>
         <h5>Creator : Jeffrey Boisvert</h5>
      </footer>
   </body>
</html>
